@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EDE5D5;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.merriweather {
  font-family: 'Merriweather', serif;
}

/* Safari masonry bug fix */
_::-webkit-full-page-media, _:future, :root .safari_only {
  display: inline-block;
}






.alert {
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 1111;
}

.alert p {
  margin: 0;
}

.alert-error {
  background: lightcoral;
}

.alert-success {
  background: lightgreen;
}

.close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
