@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EDE5D5;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.merriweather {
  font-family: 'Merriweather', serif;
}

/* Safari masonry bug fix */
_::-webkit-full-page-media, _:future, :root .safari_only {
  display: inline-block;
}





Write Sign In Building a flash message component with React.js Jaouad Ballat Jaouad Ballat · Follow 3 min read · Jun 3,
2019 Photo by Sebastian Unrau on Unsplash In this article,
I am going to walk through how to build a custom flash message component using React.js. I will assume you have already some knowledge about React.js and how to set up a new project with. so I am not going to cover the basics of React.js. Let’s get started To get started,
let’s create our Flash component and register it in our src/components/Flash/index.js file. Next,
we need to include this component in our welcome view so that it will show up on the page. I usually insert it App.js file in the root directory. We will want this component mounted on any page that might use it. import React from 'react';

import {
  BrowserRouter
}

from 'react-router-dom';
import Flash from './components/Flash';
import RouterView from './router';

const App=()=> {
  return (<div className="App" ><Flash /><BrowserRouter><RouterView></RouterView></BrowserRouter></div>);
}

export default App;

Styling the component Let’s get some basic styling done using CSS. The following markup will place the component in the top right of the screen,
add a close icon in the top right of the component,
and provide some decent styling. .alert {
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 1111;
}

.alert p {
  margin: 0;
}

.alert-error {
  background: lightcoral;
}

.alert-success {
  background: lightgreen;
}

.close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
